<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_id</key>
		<string>53aa31b7935d3ba171cfbea7</string>
		<key>icon</key>
		<string>1</string>
		<key>nombre</key>
		<string>Accidente de Transito</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa31ce935d3ba171cfbea8</string>
		<key>icon</key>
		<string>2</string>
		<key>nombre</key>
		<string>Obstrucción del Transito</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa3201935d3ba171cfbeab</string>
		<key>icon</key>
		<string>5</string>
		<key>nombre</key>
		<string>Congestionamiento Vehicular</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa3217935d3ba171cfbeac</string>
		<key>icon</key>
		<string>6</string>
		<key>nombre</key>
		<string>Semáforo Dañado</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa3230935d3ba171cfbead</string>
		<key>icon</key>
		<string>7</string>
		<key>nombre</key>
		<string>Perturbación al orden público y a la tranquilidad</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa3254935d3ba171cfbeaf</string>
		<key>icon</key>
		<string>9</string>
		<key>nombre</key>
		<string>Armas</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa3273935d3ba171cfbeb1</string>
		<key>icon</key>
		<string>11</string>
		<key>nombre</key>
		<string>Menores de edad</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa32a6935d3ba171cfbeb3</string>
		<key>icon</key>
		<string>13</string>
		<key>nombre</key>
		<string>Grupos criminales</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa32c1935d3ba171cfbeb4</string>
		<key>icon</key>
		<string>14</string>
		<key>nombre</key>
		<string>Fraudes / Estafas</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa31dd935d3ba171cfbea9</string>
		<key>icon</key>
		<string>robo.png</string>
		<key>nombre</key>
		<string>Robo de Vehículo</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa31ef935d3ba171cfbeaa</string>
		<key>icon</key>
		<string>robo.png</string>
		<key>nombre</key>
		<string>Robo Piezas Vehículo</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa3243935d3ba171cfbeae</string>
		<key>icon</key>
		<string>violencia.png</string>
		<key>nombre</key>
		<string>Violencia</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa3263935d3ba171cfbeb0</string>
		<key>icon</key>
		<string>homicidio.png</string>
		<key>nombre</key>
		<string>Homicidios</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa328b935d3ba171cfbeb2</string>
		<key>icon</key>
		<string>terrorismo.png</string>
		<key>nombre</key>
		<string>Terrorismo</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>53aa32d3935d3ba171cfbeb5</string>
		<key>icon</key>
		<string>otros.png</string>
		<key>nombre</key>
		<string>Otros</string>
	</dict>
</array>
</plist>
